n8n/gmail.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "cognizap-email",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "2a2d12be-fe61-4c77-a96c-f499c5afa749",
            "name": "POST CogniZap Gmail Router",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -752,
                288
            ],
            "webhookId": "cognizap-main-email-webhook"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first();\nconst headers = item.json.headers || {};\nconst body = item.json.body || item.json || {};\n\nconst clean = (value, fallback = '') => String(value ?? fallback).trim();\nconst rawType = clean(body.type || body.action || body.route || body.workflow || 'notification.email').toLowerCase();\nconst eventType = clean(body.eventType || body.event_type || body.type || 'notification.email');\n\nlet route = 'notification';\nif (['gmail.send', 'send', 'raw.send', 'raw_email'].includes(rawType)) route = 'send';\nelse if (['gmail.list', 'gmail.list_messages', 'list', 'list_messages', 'messages.list'].includes(rawType)) route = 'list';\nelse if (eventType.startsWith('request.') || eventType.startsWith('support.request.')) route = 'request';\nelse if (['notification.email', 'email.notification', 'notify'].includes(rawType)) route = 'notification';\nelse if (eventType.startsWith('auth.') || eventType.startsWith('payment.') || eventType.startsWith('support.payment.') || eventType.startsWith('support.delivery.') || eventType.startsWith('support.message.') || eventType.startsWith('delivery.') || eventType.startsWith('admin.') || eventType.startsWith('work.') || eventType.startsWith('correction.')) route = 'notification';\nelse route = 'invalid';\n\nreturn [{ json: { ...body, headers, route, eventType, receivedType: rawType } }];"
            },
            "id": "1b4a4721-bb07-4cb2-aedd-fe582ea3364a",
            "name": "Normalize And Route",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -528,
                368
            ]
        },
        {
            "parameters": {
                "mode": "expression",
                "numberOutputs": 5,
                "output": "={{ ({ request: 0, notification: 1, send: 2, list: 3, invalid: 4 })[$json.route] ?? 4 }}"
            },
            "id": "2f720f27-dfcc-4be0-9ac9-f703e47280c8",
            "name": "Route Gmail Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -352,
                320
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json;\nconst clean = (value, fallback = '') => String(value ?? fallback).trim();\nconst esc = (value) => clean(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&#039;');\nconst url = (value) => /^https?:\\/\\//i.test(clean(value)) ? clean(value) : '';\n\nconst eventType = clean(body.eventType || 'support.request.created');\nconst to = clean(body.to || body.email || body.userEmail || body.user?.email);\nif (!to) throw new Error('Missing email recipient.');\n\nconst eventMap = {\n  'support.request.created': ['Support workspace ready', '#2563eb', 'Open request', 'Request received'],\n  'support.request.submitted': ['Request sent for review', '#475569', 'Track request', 'Request submitted']\n};\n\nconst event = eventMap[eventType] || ['CogniZap request update', '#2563eb', 'View request', 'Request update'];\n\n// Translucent identity mapping for targeted events\nconst styleMap = {\n  'support.request.created': {\n    accent: '#2563eb',\n    bg: 'transparent',\n    badge: 'WORKSPACE ACTIVE',\n    badgeBg: 'rgba(37, 99, 235, 0.08)',\n    badgeText: '#2563eb',\n    layout: 'created'\n  },\n  'support.request.submitted': {\n    accent: '#475569',\n    bg: 'transparent',\n    badge: 'SUBMITTED',\n    badgeBg: 'rgba(71, 85, 105, 0.08)',\n    badgeText: '#475569',\n    layout: 'submitted'\n  }\n};\n\nconst cfg = styleMap[eventType] || {\n  accent: '#2563eb',\n  bg: 'transparent',\n  badge: 'REQUEST UPDATE',\n  badgeBg: 'rgba(37, 99, 235, 0.08)',\n  badgeText: '#2563eb',\n  layout: 'default'\n};\n\nconst title = clean(body.title || body.subject || body.requestTitle || event[0]);\nconst subject = clean(body.subject || event[0]);\nconst message = clean(body.message || body.description || 'There is an update on your CogniZap request.');\nconst userName = clean(body.userName || body.user?.name || body.metadata?.userName || 'there');\nconst actionUrl = url(body.actionUrl) || url(body.portalUrl) || 'https://cognizapp.com/support/requests';\nconst requestId = clean(body.requestId || body.metadata?.requestId || '');\nconst taskId = clean(body.taskId || body.metadata?.taskId || '');\n\n// Component blocks configured with modern translucent accents\nlet specialBlock = '';\n\nif (cfg.layout === 'created') {\n  specialBlock = `\n    <tr>\n      <td class=\"responsive-padding\" style=\"padding:16px 24px 8px\">\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:rgba(37,99,235,0.04);border:1px solid rgba(37,99,235,0.12);border-radius:12px;padding:16px\">\n          <tr>\n            <td width=\"36\" valign=\"top\">\n              <div style=\"width:26px;height:26px;line-height:26px;text-align:center;background:#2563eb;color:#ffffff;border-radius:6px;font-weight:900;font-size:11px\">&lt;&gt;</div>\n            </td>\n            <td style=\"padding-left:12px\">\n              <div style=\"font-size:13px;font-weight:700;color:#1e40af\">Interactive Workspace Staged</div>\n              <div style=\"font-size:11px;color:#2563eb;margin-top:2px\">Your processing terminal is prepared for communication.</div>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  `;\n} else if (cfg.layout === 'submitted') {\n  specialBlock = `\n    <tr>\n      <td class=\"responsive-padding\" style=\"padding:16px 24px 8px\">\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:rgba(71,85,105,0.03);border:1px solid rgba(71,85,105,0.12);border-radius:12px;padding:16px\">\n          <tr>\n            <td>\n              <div style=\"font-size:10px;font-weight:800;color:#475569;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:8px\">SLA Processing Timeline</div>\n              <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td width=\"16\" valign=\"middle\">\n                    <div style=\"width:8px;height:8px;background:#475569;border-radius:50%\"></div>\n                  </td>\n                  <td style=\"font-size:12px;color:#1e293b;font-weight:600\">Triage Queue Review Initiated</td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  `;\n}\n\n// Meta Row structures featuring monospace, double-tap copy fields\nconst metaRows = [\n  requestId && `<tr>\n    <td style=\"padding:8px 0;color:#667085;font-size:12px;vertical-align:middle;\">Request ID</td>\n    <td style=\"padding:8px 0;text-align:right;font-size:12px;vertical-align:middle;\">\n      <span style=\"font-family:Menlo,Consolas,monospace;background:rgba(16,24,40,0.04);color:#101828;padding:3px 8px;border-radius:6px;border:1px dashed rgba(16,24,40,0.12);display:inline-block;font-weight:700;-webkit-user-select:all;user-select:all;cursor:pointer;\" title=\"Double-tap to select\">${esc(requestId)}</span>\n    </td>\n  </tr>`, \n  taskId && `<tr>\n    <td style=\"padding:8px 0;color:#667085;font-size:12px;vertical-align:middle;\">Task ID</td>\n    <td style=\"padding:8px 0;text-align:right;font-size:12px;vertical-align:middle;\">\n      <span style=\"font-family:Menlo,Consolas,monospace;background:rgba(16,24,40,0.04);color:#101828;padding:3px 8px;border-radius:6px;border:1px dashed rgba(16,24,40,0.12);display:inline-block;font-weight:700;-webkit-user-select:all;user-select:all;cursor:pointer;\" title=\"Double-tap to select\">${esc(taskId)}</span>\n    </td>\n  </tr>`, \n  `<tr>\n    <td style=\"padding:8px 0;color:#667085;font-size:12px;vertical-align:middle;\">Status</td>\n    <td style=\"padding:8px 0;text-align:right;font-weight:700;color:${event[1]};font-size:12px;vertical-align:middle;\">\n      <span style=\"background:${cfg.badgeBg};color:${cfg.badgeText};padding:2px 8px;border-radius:6px;font-size:11px;font-weight:800;display:inline-block;\">${esc(event[3])}</span>\n    </td>\n  </tr>`\n].filter(Boolean).join('');\n\nconst html = `<!doctype html>\n<html style=\"width:100%;height:100%;margin:0;padding:0\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n  <style>\n    @media only screen and (max-width: 600px) {\n      .outer-wrap { padding: 0 !important; }\n      .inner-card { width: 100% !important; border-radius: 0 !important; border-left: none !important; border-right: none !important; box-shadow: none !important; border-top: none !important; border-bottom: none !important; }\n      .responsive-padding { padding: 18px 16px !important; }\n      .mobile-button { display: block !important; width: 100% !important; text-align: center !important; box-sizing: border-box !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:transparent;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:#101828;-webkit-font-smoothing:antialiased;width:100%;height:100%\">\n  <table role=\"presentation\" class=\"outer-wrap\" width=\"100%\" height=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"padding:24px 12px;background-color:transparent;width:100%;height:100%;min-height:100vh\">\n    <tr height=\"100%\">\n      <td align=\"center\" valign=\"middle\" height=\"100%\" style=\"height:100%\">\n        <table role=\"presentation\" class=\"inner-card\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:540px;border:1px solid rgba(226,232,240,0.8);border-radius:16px;overflow:hidden;background:#ffffff;box-shadow:0 8px 24px rgba(16,24,40,0.04)\">\n          <!-- Top Branding Badge Bar -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:24px 24px 12px\">\n              <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td>\n                    <div style=\"font-size:13px;font-weight:950;color:#101828;letter-spacing:0.5px\">CogniZap</div>\n                    <div style=\"margin-top:2px;font-size:10px;color:#98a2b3;text-transform:uppercase;letter-spacing:0.5px\">Service Management</div>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background:${cfg.badgeBg};color:${cfg.badgeText};font-size:10px;font-weight:800;text-transform:uppercase;letter-spacing:0.8px;padding:4px 10px;border-radius:12px;display:inline-block\">${cfg.badge}</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n          <!-- Subject Heading -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:8px 24px 0\">\n              <h1 style=\"margin:0;font-size:20px;line-height:1.35;font-weight:800;color:#101828\">${esc(title)}</h1>\n            </td>\n          </tr>\n          <!-- Main Context Body -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:16px 24px 12px\">\n              <p style=\"font-size:14px;line-height:1.65;color:#344054;margin:0 0 10px;font-weight:600\">Hi ${esc(userName)},</p>\n              <p style=\"font-size:14px;line-height:1.7;color:#475467;margin:0\">${esc(message).replace(/\\n/g, '<br>')}</p>\n            </td>\n          </tr>\n          <!-- Special Component Staging Area -->\n          ${specialBlock}\n          <!-- Process Metadata Registry -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:12px 24px 4px\">\n              <table width=\"100%\" style=\"background:#f8fafc;border:1px solid #eaecf0;border-radius:12px;padding:6px 14px\">\n                ${metaRows}\n              </table>\n            </td>\n          </tr>\n          <!-- Navigation CTA & Notification Standard Footer -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:20px 24px 24px\">\n              <a href=\"${esc(actionUrl)}\" class=\"mobile-button\" style=\"display:inline-block;background:${cfg.accent};color:#ffffff;text-decoration:none;font-size:13px;font-weight:700;padding:12px 20px;border-radius:10px;box-shadow:0 1px 2px rgba(16,24,40,0.05)\">${esc(body.ctaLabel || event[2])}</a>\n              <p style=\"margin:20px 0 0;font-size:11px;line-height:1.6;color:#98a2b3\">You received this update message regarding your CogniZap workspace. Automated replies are not monitored.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nreturn [{ json: { ok: true, route: 'request', eventType, to, subject, html, text: `${subject}\\n\\nHi ${userName},\\n\\n${message}\\n\\n${actionUrl}`, requestId, taskId, actionUrl } }];"
            },
            "id": "886ab40a-cda2-45ca-a502-528a1645f86f",
            "name": "Normalize Request Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                96
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json;\nconst clean = (value, fallback = '') => String(value ?? fallback).trim();\nconst esc = (value) => clean(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&#039;');\nconst url = (value) => /^https?:\\/\\//i.test(clean(value)) ? clean(value) : '';\n\nconst events = {\n  'auth.otp.requested': ['Your login code', '#6d28d9', 'Continue to login'],\n  'auth.otp.resend': ['Here is your new code', '#4f46e5', 'Authorize session'],\n  'notification.email': ['Notification', '#111827', 'Open portal'],\n  'admin.privileged_access.granted': ['Privileged access granted', '#d97706', 'Review profile'],\n  'payment.verified': ['Payment verified', '#059669', 'View payment'],\n  'support.payment.verified': ['Payment verified', '#059669', 'View payment'],\n  'payment.pending': ['Payment pending', '#d97706', 'Continue payment'],\n  'support.payment.submitted': ['Payment proof received', '#d97706', 'View payment'],\n  'support.payment.rejected': ['Payment could not be verified', '#dc2626', 'Review payment'],\n  'support.delivery.uploaded': ['Your work is ready', '#059669', 'View delivery'],\n  'support.message.admin_reply': ['New message from support', '#4338ca', 'Open messages'],\n  'support.message.client_reply': ['Client sent a message', '#334155', 'Open support portal'],\n  'work.completed': ['Work completed', '#4f46e5', 'Download work'],\n  'admin.work.completed': ['Work completed', '#4f46e5', 'Download work'],\n  'correction.requested': ['Correction requested', '#be123c', 'Review request'],\n  'request.error': ['Action needed', '#dc2626', 'Open portal']\n};\n\nconst defaultMessages = {\n  'auth.otp.requested': 'Use the verification code below to securely sign in to your CogniZap workspace. This code is valid for 10 minutes.',\n  'auth.otp.resend': 'A replacement verification code has been issued. Any previous code for this session should be treated as expired.',\n  'notification.email': 'There is a new update on your CogniZap account.',\n  'admin.privileged_access.granted': 'Your account has been granted elevated CogniZap permissions.',\n  'support.payment.submitted': 'We received your payment proof and will review it shortly.',\n  'support.payment.verified': 'Your payment has been verified and your request can continue.',\n  'support.payment.rejected': 'We could not verify the payment proof for this request. Please review and upload a clearer or corrected proof.',\n  'support.delivery.uploaded': 'The completed work for your support request has been uploaded and is ready for review.',\n  'support.message.admin_reply': 'The CogniZap support team has replied to your request.',\n  'support.message.client_reply': 'A client has sent a new message on a support request.'\n};\n\n// Layout configurations containing visual assets for each event class\nconst styleMap = {\n  'auth.otp.requested': {\n    accent: '#6d28d9',\n    bg: '#f5f3ff',\n    badge: 'SECURITY CODE',\n    badgeBg: '#ede9fe',\n    badgeText: '#6d28d9',\n    layout: 'otp'\n  },\n  'auth.otp.resend': {\n    accent: '#4f46e5',\n    bg: '#eef2ff',\n    badge: 'NEW CODE ISSUED',\n    badgeBg: '#e0e7ff',\n    badgeText: '#4f46e5',\n    layout: 'otp'\n  },\n  'notification.email': {\n    accent: '#111827',\n    bg: '#fafafa',\n    badge: 'ACCOUNT UPDATE',\n    badgeBg: '#f3f4f6',\n    badgeText: '#1f2937',\n    layout: 'default'\n  },\n  'admin.privileged_access.granted': {\n    accent: '#d97706',\n    bg: '#fffbeb',\n    badge: 'ACCESS GRANTED',\n    badgeBg: '#fef3c7',\n    badgeText: '#b45309',\n    layout: 'security'\n  },\n  'payment.verified': {\n    accent: '#059669',\n    bg: '#ecfdf5',\n    badge: 'PAYMENT VERIFIED',\n    badgeBg: '#d1fae5',\n    badgeText: '#065f46',\n    layout: 'receipt'\n  },\n  'support.payment.verified': {\n    accent: '#059669',\n    bg: '#ecfdf5',\n    badge: 'PAYMENT VERIFIED',\n    badgeBg: '#d1fae5',\n    badgeText: '#065f46',\n    layout: 'receipt'\n  },\n  'payment.pending': {\n    accent: '#d97706',\n    bg: '#fffbeb',\n    badge: 'PAYMENT PENDING',\n    badgeBg: '#fef3c7',\n    badgeText: '#b45309',\n    layout: 'receipt'\n  },\n  'support.payment.submitted': {\n    accent: '#d97706',\n    bg: '#fffbeb',\n    badge: 'PROOF RECEIVED',\n    badgeBg: '#fef3c7',\n    badgeText: '#b45309',\n    layout: 'receipt'\n  },\n  'support.payment.rejected': {\n    accent: '#dc2626',\n    bg: '#fef2f2',\n    badge: 'VERIFICATION ERROR',\n    badgeBg: '#fee2e2',\n    badgeText: '#991b1b',\n    layout: 'alert'\n  },\n  'support.delivery.uploaded': {\n    accent: '#059669',\n    bg: '#ecfdf5',\n    badge: 'DELIVERY READY',\n    badgeBg: '#d1fae5',\n    badgeText: '#065f46',\n    layout: 'delivery'\n  },\n  'support.message.admin_reply': {\n    accent: '#4338ca',\n    bg: '#f5f3ff',\n    badge: 'SUPPORT REPLY',\n    badgeBg: '#e0e7ff',\n    badgeText: '#4338ca',\n    layout: 'message'\n  },\n  'support.message.client_reply': {\n    accent: '#334155',\n    bg: '#f8fafc',\n    badge: 'INCOMING MESSAGE',\n    badgeBg: '#e2e8f0',\n    badgeText: '#334155',\n    layout: 'message'\n  },\n  'work.completed': {\n    accent: '#4f46e5',\n    bg: '#eef2ff',\n    badge: 'WORK READY',\n    badgeBg: '#e0e7ff',\n    badgeText: '#4f46e5',\n    layout: 'delivery'\n  },\n  'admin.work.completed': {\n    accent: '#4f46e5',\n    bg: '#eef2ff',\n    badge: 'WORK COMPLETED',\n    badgeBg: '#e0e7ff',\n    badgeText: '#4f46e5',\n    layout: 'delivery'\n  },\n  'correction.requested': {\n    accent: '#be123c',\n    bg: '#fff1f2',\n    badge: 'REVISION NEEDED',\n    badgeBg: '#ffe4e6',\n    badgeText: '#9f1239',\n    layout: 'alert'\n  },\n  'request.error': {\n    accent: '#dc2626',\n    bg: '#fef2f2',\n    badge: 'ATTENTION REQUIRED',\n    badgeBg: '#fee2e2',\n    badgeText: '#991b1b',\n    layout: 'alert'\n  }\n};\n\nconst eventType = clean(body.eventType || 'notification.email');\nconst event = events[eventType] || events['notification.email'];\nconst to = clean(body.to || body.email || body.userEmail || body.user?.email);\nif (!to) throw new Error('Missing email recipient.');\n\nconst title = clean(body.title || body.subject || event[0]);\nconst subject = clean(body.subject || event[0]);\nconst message = clean(body.message || body.description || defaultMessages[eventType] || 'There is a new update on your CogniZap account.');\nconst userName = clean(body.userName || body.user?.name || body.metadata?.userName || 'there');\nconst actionUrl = url(body.actionUrl) || url(body.portalUrl) || 'https://cognizapp.com';\nconst requestId = clean(body.requestId || body.metadata?.requestId || '');\nconst taskId = clean(body.taskId || body.metadata?.taskId || '');\nconst code = clean(body.code || '');\nconst magicLinkUrl = url(body.magicLinkUrl || body.metadata?.magicLinkUrl || '');\n\n// Select layout attributes based on current active state\nconst cfg = styleMap[eventType] || styleMap['notification.email'];\n\n// Dynamically construct components based on target event type layouts\nlet specialBlock = '';\n\nif (cfg.layout === 'otp' && code) {\n  const digits = [...code].map(d => `<span style=\"display:inline-block;width:32px;height:42px;line-height:42px;text-align:center;background:#ffffff;border:1.5px solid #e2e8f0;border-radius:8px;font-size:20px;font-weight:800;color:${cfg.accent};margin:0 2px;font-family:Menlo,Consolas,monospace;box-shadow:0 1px 3px rgba(0,0,0,0.06);\">${esc(d)}</span>`).join('');\n  \n  // Magic link button (primary CTA) + code (secondary fallback)\n  const magicLinkBlock = magicLinkUrl ? `\n    <tr><td style=\"padding:16px 24px 4px\">\n      <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:linear-gradient(135deg,${cfg.accent} 0%,${cfg.accent}dd 100%);border-radius:14px;padding:20px 24px;text-align:center\">\n        <tr><td align=\"center\">\n          <div style=\"margin-bottom:12px;font-size:11px;letter-spacing:0.5px;font-weight:700;color:#ffffff;opacity:0.9;text-transform:uppercase\">Fastest way in</div>\n          <a href=\"${esc(magicLinkUrl)}\" class=\"mobile-button\" style=\"display:inline-block;background:#ffffff;color:${cfg.accent};text-decoration:none;font-size:15px;font-weight:800;padding:14px 36px;border-radius:10px;box-shadow:0 2px 8px rgba(0,0,0,0.15);letter-spacing:0.3px\">Sign in instantly</a>\n          <div style=\"margin-top:10px;font-size:11px;color:#ffffff;opacity:0.75\">One click \u2014 no code needed</div>\n        </td></tr>\n      </table>\n    </td></tr>` : '';\n  \n  const codeBlock = `\n    <tr><td style=\"padding:12px 24px 8px\">\n      <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border:1px solid #e2e8f0;border-radius:12px;padding:18px 16px;text-align:center\">\n        <tr><td align=\"center\">\n          <div style=\"margin-bottom:10px;font-size:10px;letter-spacing:1px;font-weight:800;color:${cfg.accent};text-transform:uppercase;opacity:0.7\">Or enter code manually</div>\n          <div style=\"margin-bottom:8px\">${digits}</div>\n          <div style=\"font-size:11px;color:#667085\">Double-tap code to select &amp; copy</div>\n        </td></tr>\n      </table>\n    </td></tr>`;\n  \n  specialBlock = (magicLinkBlock || '') + codeBlock;\n} else if (code) {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border:1.5px dashed ${cfg.accent};border-radius:12px;padding:16px;text-align:center\"><tr><td align=\"center\" style=\"font-family:Menlo,Consolas,monospace;font-size:26px;font-weight:800;letter-spacing:4px;color:${cfg.accent}\">${esc(code)}</td></tr></table></td></tr>`;\n}\n\nif (cfg.layout === 'message') {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border-radius:12px;padding:18px;border-left:4px solid ${cfg.accent}\"><tr><td style=\"font-size:13px;line-height:1.5;color:#344054;\"><div style=\"font-weight:800;font-size:10px;color:${cfg.accent};margin-bottom:6px;text-transform:uppercase;letter-spacing:0.5px\">Stream Update Preview</div><div style=\"font-style:italic;color:#475467\">\"${esc(message).replace(/\\n/g, '<br>')}\"</div></td></tr></table></td></tr>`;\n}\n\nif (cfg.layout === 'delivery') {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:12px;padding:16px\"><tr><td width=\"32\" valign=\"top\"><div style=\"width:24px;height:24px;line-height:24px;text-align:center;background:#d1fae5;color:#065f46;border-radius:6px;font-weight:bold;font-size:12px\">&#10515;</div></td><td style=\"padding-left:12px\"><div style=\"font-size:13px;font-weight:700;color:#065f46\">Production Assets Pack Staged</div><div style=\"font-size:11px;color:#047857;margin-top:2px\">Packages have passed integrity validation structures.</div></td></tr></table></td></tr>`;\n}\n\nif (cfg.layout === 'receipt') {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border:1px solid #e2e8f0;border-radius:12px;padding:14px\"><tr><td><div style=\"font-size:10px;font-weight:800;color:${cfg.accent};margin-bottom:8px;text-transform:uppercase\">Audit Log Metric</div><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"><tr><td style=\"font-size:12px;color:#475467;padding:3px 0\">Ledger Entry Verification</td><td style=\"font-size:12px;font-weight:700;color:#101828;text-align:right;padding:3px 0\">Staged</td></tr><tr><td style=\"font-size:12px;color:#475467;padding:3px 0\">Network Reference Status</td><td style=\"font-size:12px;font-family:monospace;color:#64748b;text-align:right;padding:3px 0\">System Synchronized</td></tr></table></td></tr></table></td></tr>`;\n}\n\nif (cfg.layout === 'security') {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border:1px solid #fcd34d;border-radius:12px;padding:16px\"><tr><td style=\"font-size:12px;line-height:1.5;color:#92400e\"><strong>Compliance Note:</strong> Trace logging protocols have been initiated across matching database registries. Activity maps directly to this verified profile.</td></tr></table></td></tr>`;\n}\n\nif (cfg.layout === 'alert') {\n  specialBlock = `<tr><td style=\"padding:16px 24px 8px\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:${cfg.bg};border-left:4px solid ${cfg.accent};padding:16px\"><tr><td style=\"font-size:12px;line-height:1.5;color:#991b1b\"><strong>Action Needed:</strong> System execution limits recommend following active corrections in the console environment to avoid operational task holds.</td></tr></table></td></tr>`;\n}\n\nconst metaRows = [\n  requestId && `<tr><td style=\"padding:6px 0;color:#667085;font-size:12px\">Request ID</td><td style=\"padding:6px 0;text-align:right;font-family:monospace;color:#101828;font-size:12px\">${esc(requestId)}</td></tr>`,\n  taskId && `<tr><td style=\"padding:6px 0;color:#667085;font-size:12px\">Task ID</td><td style=\"padding:6px 0;text-align:right;font-family:monospace;color:#101828;font-size:12px\">${esc(taskId)}</td></tr>`,\n  `<tr><td style=\"padding:6px 0;color:#667085;font-size:12px\">Update State</td><td style=\"padding:6px 0;text-align:right;font-weight:700;color:${cfg.accent};font-size:12px\">${esc(event[0])}</td></tr>`\n].filter(Boolean).join('');\n\nconst html = `<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    @media only screen and (max-width: 600px) {\n      .outer-wrap { padding: 0 !important; }\n      .inner-card { width: 100% !important; border-radius: 0 !important; border-left: none !important; border-right: none !important; box-shadow: none !important; }\n      .responsive-padding { padding: 20px 16px !important; }\n      .mobile-button { display: block !important; width: 100% !important; text-align: center !important; box-sizing: border-box !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;background-color:${cfg.bg};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:#101828;-webkit-font-smoothing:antialiased\">\n  <table role=\"presentation\" class=\"outer-wrap\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"padding:24px 12px;background-color:${cfg.bg}\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" class=\"inner-card\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:540px;border:1px solid #e2e8f0;border-radius:16px;overflow:hidden;background:#ffffff;box-shadow:0 4px 12px rgba(16,24,40,0.03)\">\n          <!-- Top Badge Bar -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:24px 24px 12px\">\n              <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td>\n                    <div style=\"font-size:13px;font-weight:950;color:#101828;letter-spacing:0.5px\">CogniZap</div>\n                    <div style=\"margin-top:2px;font-size:10px;color:#98a2b3;text-transform:uppercase;letter-spacing:0.5px\">System Notification</div>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background:${cfg.badgeBg};color:${cfg.badgeText};font-size:10px;font-weight:800;text-transform:uppercase;letter-spacing:0.8px;padding:4px 10px;border-radius:12px;display:inline-block\">${cfg.badge}</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n          <!-- Title block -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:8px 24px 0\">\n              <h1 style=\"margin:0;font-size:20px;line-height:1.35;font-weight:800;color:#101828\">${esc(title)}</h1>\n            </td>\n          </tr>\n          <!-- Core Message -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:16px 24px 12px\">\n              <p style=\"font-size:14px;line-height:1.65;color:#344054;margin:0 0 10px;font-weight:600\">Hi ${esc(userName)},</p>\n              <p style=\"font-size:14px;line-height:1.7;color:#475467;margin:0\">${cfg.layout === 'message' ? 'A team communication thread entry is staged for review:' : esc(message).replace(/\\n/g, '<br>')}</p>\n            </td>\n          </tr>\n          <!-- Event Specific Block Section -->\n          ${specialBlock}\n          <!-- Process Metadata Registry -->\n          ${metaRows ? `<tr><td class=\"responsive-padding\" style=\"padding:12px 24px 4px\"><table width=\"100%\" style=\"background:#f8fafc;border:1px solid #eaecf0;border-radius:12px;padding:6px 14px\">${metaRows}</table></td></tr>` : ''}\n          <!-- CTA Action & Footer Block -->\n          <tr>\n            <td class=\"responsive-padding\" style=\"padding:20px 24px 24px\">\n              <a href=\"${esc(actionUrl)}\" class=\"mobile-button\" style=\"display:inline-block;background:${cfg.layout === 'otp' && magicLinkUrl ? '#f1f5f9' : cfg.accent};color:${cfg.layout === 'otp' && magicLinkUrl ? '#475569' : '#ffffff'};text-decoration:none;font-size:13px;font-weight:700;padding:12px 20px;border-radius:10px;box-shadow:0 1px 2px rgba(16,24,40,0.05);border:${cfg.layout === 'otp' && magicLinkUrl ? '1px solid #e2e8f0' : 'none'}\">${esc(body.ctaLabel || (cfg.layout === 'otp' && magicLinkUrl ? 'Open CogniZap' : event[2]))}</a>\n              <p style=\"margin:20px 0 0;font-size:11px;line-height:1.6;color:#98a2b3\">Sent securely via the CogniZap system notification network. Direct replies to this transaction-only address are not processed.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nreturn [{ json: { ok: true, route: 'notification', eventType, to, subject, html, text: `${subject}\\n\\nHi ${userName},\\n\\n${message}\\n\\n${magicLinkUrl ? `Sign in instantly: ${magicLinkUrl}\\n\\n` : ''}${code ? `Or use code: ${code}\\n\\n` : ''}${actionUrl}`, requestId, taskId, actionUrl, magicLinkUrl } }];"
            },
            "id": "f04e73c8-d17a-4b31-b53d-cb47d6fe29d3",
            "name": "Normalize Notification Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -32,
                224
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json;\nconst clean = (value, fallback = '') => String(value ?? fallback).trim();\nconst to = clean(body.to || body.email || body.userEmail);\nif (!to) throw new Error('Missing recipient.');\nconst subject = clean(body.subject, 'CogniZap message');\nconst message = clean(body.html || body.message || body.text, '');\nif (!message) throw new Error('Missing message/html/text.');\nreturn [{ json: { ok: true, route: 'send', to, subject, emailType: body.html ? 'html' : clean(body.emailType || 'text'), message, ccList: clean(body.cc || body.ccList), bccList: clean(body.bcc || body.bccList), replyTo: clean(body.replyTo) } }];"
            },
            "id": "04d72210-4264-4343-aa52-b0ee0743da20",
            "name": "Normalize Raw Gmail Send",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -144,
                336
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json;\nconst clean = (value, fallback = '') => String(value ?? fallback).trim();\nreturn [{ json: { ok: true, route: 'list', limit: Math.min(Number(body.limit || 20), 100), q: clean(body.query || body.q || ''), sender: clean(body.sender || ''), readStatus: ['both', 'read', 'unread'].includes(clean(body.readStatus || 'both')) ? clean(body.readStatus || 'both') : 'both', includeSpamTrash: body.includeSpamTrash === true } }];"
            },
            "id": "ae705c5f-b443-402d-8618-c47bb6f920bd",
            "name": "Normalize Gmail List",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -16,
                448
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json;\nreturn [{ json: { ok: false, status: 'invalid_gmail_route', message: 'Use type/action notification.email, gmail.send, gmail.list, or an eventType beginning with request/support.request for request email routing.', receivedType: body.receivedType || body.type || body.action || '', eventType: body.eventType || '' } }];"
            },
            "id": "10ad25c5-18ab-4204-a528-df4d3f9c48f6",
            "name": "Build Invalid Route Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                560
            ]
        },
        {
            "parameters": {
                "operation": "send",
                "sendTo": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "message": "={{ $json.html }}",
                "options": {
                    "appendAttribution": false,
                    "senderName": "CogniZap"
                }
            },
            "id": "9c061372-52d6-4ef7-b517-edc4ea9c0fef",
            "name": "Gmail Send Request Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                144,
                96
            ],
            "webhookId": "60282f6f-c506-4ae5-9a09-82acd2301c78",
            "credentials": {
                "gmailOAuth2": {
                    "id": "Gsv9AAuONnDLSxzo",
                    "name": "Gmail OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "sendTo": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "message": "={{ $json.html }}",
                "options": {
                    "appendAttribution": false,
                    "senderName": "CogniZap"
                }
            },
            "id": "5a51b218-338f-41bf-a779-626982214216",
            "name": "Gmail Send Notification",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                288,
                224
            ],
            "webhookId": "552f9e73-719f-40fb-8e6f-936f489ea054",
            "credentials": {
                "gmailOAuth2": {
                    "id": "Gsv9AAuONnDLSxzo",
                    "name": "Gmail OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "sendTo": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "message": "={{ $json.message }}",
                "options": {
                    "appendAttribution": false,
                    "bccList": "={{ $json.bccList }}",
                    "ccList": "={{ $json.ccList }}",
                    "senderName": "CogniZap",
                    "replyTo": "={{ $json.replyTo }}"
                }
            },
            "id": "76f37a75-1795-4aa9-8ce2-3f8c54c7bf90",
            "name": "Gmail Send Raw",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                112,
                336
            ],
            "webhookId": "9c5f4b49-40ae-4886-8599-b48d1371cf91",
            "credentials": {
                "gmailOAuth2": {
                    "id": "Gsv9AAuONnDLSxzo",
                    "name": "Gmail OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": "={{ $json.limit }}",
                "filters": {
                    "includeSpamTrash": "={{ $json.includeSpamTrash }}",
                    "q": "={{ $json.q }}",
                    "readStatus": "={{ $json.readStatus }}",
                    "sender": "={{ $json.sender }}"
                }
            },
            "id": "d0627b6d-486c-4e58-b02d-5c3293996c11",
            "name": "Gmail List Messages",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                272,
                448
            ],
            "webhookId": "e384d4d4-e3e2-4339-9db1-d6f159d278df",
            "credentials": {
                "gmailOAuth2": {
                    "id": "Gsv9AAuONnDLSxzo",
                    "name": "Gmail OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const input = $('Normalize Request Email').item.json;\nconst sent = $input.first().json;\nreturn [{ json: { ok: true, status: 'request_email_sent', route: input.route, provider: 'gmail', to: input.to, subject: input.subject, eventType: input.eventType, requestId: input.requestId, taskId: input.taskId, messageId: sent.id || sent.messageId || sent.threadId || '', raw: sent } }];"
            },
            "id": "5dced96a-2d88-4ebd-bc4d-522738236eda",
            "name": "Build Request Email Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                448,
                96
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Normalize Notification Email').item.json;\nconst sent = $input.first().json;\nreturn [{ json: { ok: true, status: 'notification_email_sent', route: input.route, provider: 'gmail', to: input.to, subject: input.subject, eventType: input.eventType, requestId: input.requestId, taskId: input.taskId, messageId: sent.id || sent.messageId || sent.threadId || '', raw: sent } }];"
            },
            "id": "1d112d10-8583-4c9a-afe7-ea20ccd34038",
            "name": "Build Notification Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                576,
                224
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Normalize Raw Gmail Send').item.json;\nconst sent = $input.first().json;\nreturn [{ json: { ok: true, status: 'gmail_sent', route: input.route, provider: 'gmail', to: input.to, subject: input.subject, messageId: sent.id || sent.messageId || sent.threadId || '', raw: sent } }];"
            },
            "id": "a4698d68-18ed-4b6f-b686-80c560fa5afe",
            "name": "Build Raw Send Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                432,
                336
            ]
        },
        {
            "parameters": {
                "jsCode": "const messages = $input.all().map((item) => item.json);\nreturn [{ json: { ok: true, status: 'gmail_messages_listed', route: 'list', count: messages.length, messages } }];"
            },
            "id": "40b86110-0ed0-4cce-8e51-fcdff12881e6",
            "name": "Build Gmail List Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                560,
                448
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "f508863a-007c-4a42-94a9-bebaf246c485",
            "name": "Respond Request Email",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                704,
                96
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "4d3b77a1-9988-4d28-bb04-bc8e7c53e64c",
            "name": "Respond Notification",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                816,
                224
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "285eb559-8718-43d6-9200-ea55dbaab264",
            "name": "Respond Raw Send",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                688,
                336
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "045d3b58-c6f4-4924-b61b-badc0edbfc95",
            "name": "Respond Gmail List",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                816,
                448
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "2991ede5-bfdb-4695-9086-bf4a8f5b0c50",
            "name": "Respond Invalid Route",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                128,
                560
            ]
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -736,
                464
            ],
            "id": "4609cb44-9f1f-4404-b690-66c463c3c67e",
            "name": "When clicking \u2018Execute workflow\u2019"
        }
    ],
    "connections": {
        "POST CogniZap Gmail Router": {
            "main": [
                [
                    {
                        "node": "Normalize And Route",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize And Route": {
            "main": [
                [
                    {
                        "node": "Route Gmail Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Gmail Action": {
            "main": [
                [
                    {
                        "node": "Normalize Request Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Normalize Notification Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Normalize Raw Gmail Send",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Normalize Gmail List",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Invalid Route Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Request Email": {
            "main": [
                [
                    {
                        "node": "Gmail Send Request Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Notification Email": {
            "main": [
                [
                    {
                        "node": "Gmail Send Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Raw Gmail Send": {
            "main": [
                [
                    {
                        "node": "Gmail Send Raw",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Gmail List": {
            "main": [
                [
                    {
                        "node": "Gmail List Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Invalid Route Response": {
            "main": [
                [
                    {
                        "node": "Respond Invalid Route",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Send Request Email": {
            "main": [
                [
                    {
                        "node": "Build Request Email Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Send Notification": {
            "main": [
                [
                    {
                        "node": "Build Notification Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail Send Raw": {
            "main": [
                [
                    {
                        "node": "Build Raw Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail List Messages": {
            "main": [
                [
                    {
                        "node": "Build Gmail List Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Request Email Response": {
            "main": [
                [
                    {
                        "node": "Respond Request Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Notification Response": {
            "main": [
                [
                    {
                        "node": "Respond Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Raw Send Response": {
            "main": [
                [
                    {
                        "node": "Respond Raw Send",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Gmail List Response": {
            "main": [
                [
                    {
                        "node": "Respond Gmail List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking \u2018Execute workflow\u2019": {
            "main": [
                [
                    {
                        "node": "Normalize And Route",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "11ceb02127e95d2e285e02e6e82246a624b982946da82eeb174345941adc2561"
    }
}